---
title: Installing and Configuring AppDynamics Platform Monitoring
owner: Partners
---

This topic describes how to install and configure Appdynamics Platform Metrics in Pivotal Cloud Foundry (PCF).
## <a id='overview-appd-nozzle'></a> Overview

AppDynamics Nozzle aggregates and forwards logs and metrics from the Loggregator Firehose to the AppDynamics Controller. The Controller process that data and provides the performance metrics of the underlying infrastructure of apps running on PCF in the Metric Browser corresponding to the Nozzle application. When you successfully configure AppDynamics Nozzle on PCF, a default application, appd-nozzle, is created on the AppDynamics Controller. The default tier created is appd-nozzle-tier and the node is appd-nozzle-node under which corresponding metrics are recorded.

## <a id='before-you-start'></a> Before You Start

Do the following:

1. Create a [Pivotal Network](https://network.pivotal.io) account if you do not have one.

1. [Set up the AppDynamics Controller](#set-up-appd-controller).


## <a id='set-up-appd-nozzle'></a> Set Up the AppDynamics Nozzle Configuration

1. Log in to the Ops Manager.

1. If the AppDynamics Platform Monitoring tile does not appear in the Installation Dashboard, click **Import a Product** in the left-side menu and import the AppDynamics Platform Monitoring tile.

1. Double-click the **AppDynamics Platform Monitoring for PCF** tile in the Installation Dashboard.
   The Settings tab is displayed.

1. In the **Settings** tab, select **AppDynamics Nozzle Configuration**.
![](./images/appd-nozzle-config.png)

1. Specify the following Nozzle configuration settings and click **Save**. All the fields are mandatory. You cannot add multiple Nozzle configurations.

  * **UAA token_endpoint URL**: The authentication token endpoint URL of the User Account and Authentication Service (UAA) API. If cf is installed on the host, run the following to find the token URL:

    ```(master)$ cf curl /v2/info | grep doppler_logging_endpoint
    "wss://doppler.sys.pie-20.cfplatformeng.com:443" ```

  * **Doppler Traffic Controller URL**: The doppler firehose endpoint. Run the following to find find the URL:

    ```(master)$ cf curl /v2/info | jq .token_endpoint
   "https://uaa.sys.pie-multi-az-blue.cfplatformeng.com"```

  * **Username**: Username for a member account of the firehose.doppler Group. This is the authorized UAA user that AppDynamics Nozzle uses to access the Loggregator. For more information, see [How to Find Credentials](https://github.com/Appdynamics/appdynamics-firehose-nozzle#how-to-find-credentials).
  * **Password**: The password for the above account.

    Do one of the following to get the credentials:
      * If you have an account, log in to the OPS Manager and select the PAS tile. Navigate to credentials > UAA > Opentsdb Nozzle Credentials. Copy the username and password. CF environments usually ship the opentsdb-firehose-nozzle account which already belongs to the doppler.firehose group.
      * If you don't have an account, create a new one in the doppler.firehose group with necessary permissions. For more information, see [UAA Client](https://github.com/cf-platform-eng/firehose-nozzle#option-2-uaa-client).
  * **Controller Account Name**: The name of the account in the AppDynamics Controller. Access the account name in the AppDynamics Controller UI on the Account tab under License.
  * **Account Access Key**: The access key for the above Controller account. Access the account key in the AppDynamics Controller UI on the Account tab under License.
  * **Controller Host**: Hostname of the AppDynamics Controller.
  * **Controller Port**: The port on which the AppDynamics Controller listens for Nozzle traffic.
  * **Enable Controller SSL**: Establishes secures communication with the Controller.
  * **Username for Reporting Custom Dashboard**: Username of an account with custom dashboard creation permissions.
  * **Password**: Password for the above Account.


## <a id='overide-nozzle'></a> Overriding Nozzle Configuration
Although the nozzle application creates a default configuration on the AppDynamics Controller by itself, you can override it by changing the settings by using either the Ops Manager or by pushing the environment variables using the CF CLI tool.
### <a id='overide-nozzle-ops-manager'></a> Using the Ops Manager

1. In the **Advanced Configuration (Optional for 4.5.x Controllers)** tab, specify the following settings and click **Save**.
   ![](./images/nozzle-adv-config.png)
  * **Nozzle Application Name**: Enter a name to identify the Nozzle application on the Controller.
  * **Nozzle Tier Name**: Enter the tier name for the Nozzle application you defined previously.
  * **Nozzle Tier ID**: Enter the component ID you identified previously.
  * **Nozzle Node Name**: Enter a name for the node that corresponds to the Application Name, such as **_app-name_-node**.

1. In the Installation Dashboard, click **Apply Changes** and wait for all the changes to be applied.

### <a id='overide-nozzle-cf'></a>Using CF CLI

If the CF command line tool installed in your enviorment, you can override the Default Nozzle configuration by setting the environment variables and restaging the application:

```cf set-env appdnozzle <ENVNAME> <NEW ENV VALUE>
   cf restage appdnozzle```

The table below summarizes environment variables, their default and allowed values, and description.

<table class="nice">
    <th>Environment Variable</th>
    <th>Purpose</th>
    <th>Allowed Values</th>
    <th>Default</th>
    <tr>
        <td>APPD_NOZZLE_APP</td>
        <td>Name of the Nozzle Application under which the metrics are recorded.</td>
        <td>Any string</td>
        <td>appd-nozzle</td>
    </tr>
    <tr>
        <td>APPD_NOZZLE_TIER</td>
        <td>Name of the Nozzle Tier under which the metrics are recorded</td>
        <td>Any string</td>
        <td>appd-nozzle-tier</td>
    </tr>
    <tr>
      <td>APPD_NOZZLE_Node</td>
      <td>Name of the Nozzle Node under which the metrics are recorded</td>
      <td>Any string</td>
      <td>appd-nozzle-node</td>
    </tr>
    <tr>
        <td>APPD_SSL_ENABLED</td>
        <td>Enable/Disable SSL to Controller</td>
        <td>true / false</td>
        <td>false</td>
    </tr>
    <tr>
      <td>APPD_CONTROLLER_HOST</td>
      <td>Hostname of the Appdynamics Controller</td>
      <td>host.appd.com</td>
      <td>none</td>
    </tr>
    <tr>
      <td>APPD_CONTROLLER_PORT</td>
      <td>Port on which Appdynamics Controller is listening</td>
      <td>Any port number</td>
      <td>8090</td>
    </tr>
    <tr>
      <td>APPD_ACCOUNT</td>
      <td>Account name for the above Controller</td>
      <td>An Account name</td>
      <td>none</td>
    </tr>
    <tr>
      <td>APPD_ACCESS_KEY</td>
      <td>Name of the Nozzle Node under which the metrics are recorded</td>
      <td>Access Key</td>
      <td>none</td>
    </tr>
    <tr>
      <td>APPD_SINK</td>
      <td>Sink to which the metrics are to be pushed.</td>
      <td>stdout/Controller</td>
      <td>Controller</td>
    </tr>
    <tr>
      <td>APPD_SAMPLING_RATE</td>
      <td>Polling Interval in secs to Firehose Nozzle.</td>
      <td>number of seconds</td>
      <td>2 seconds</td>
    </tr>
    <tr>
      <td>NOZZLE_UAA_URL</td>
      <td>UAA API endpoint URL</td>
      <td>Run cf curl /v2/info and record the UAA endpoint</td>
      <td>none</td>
    </tr>
    <tr>
      <td>NOZZLE_TRAFFIC_CONTROLLER_URL</td>
      <td>Doppler end point URL</td>
      <td>Run cf curl /v2/info and record doppler api url</td>
      <td>none</td>
    </tr>
    <tr>
      <td>NOZZLE_USERNAME</td>
      <td>Name of the Nozzle Node under which the metrics are recorded</td>
      <td>User name of account belonging to doppler.firehose group</td>
      <td>none</td>
    </tr>
    <tr>
      <td>NOZZLE_PASSWORD</td>
      <td>Password for the above account</td>
      <td>none</td>
      <td>none</td>
    </tr>
</table>

## <a id='troubleshooting'></a> Troubleshooting

Follow the steps in the [extensions troubleshooting document](https://community.appdynamics.com/t5/Knowledge-Base/How-to-troubleshoot-missing-custom-metrics-or-extensions-metrics/ta-p/28695) in order to troubleshoot your issue. These are a set of common issues that you might face during the installation of the extension. If taking these steps does not solve your issue, follow the last step in the troubleshooting document to contact the support team.
